.idea
/.idea
.idea/
/.idea/
*.iml

/build
*/build
build/
*/build/
.gradle/
*/.gradle/
/captures
*/captures

local.properties
/local.properties
git_stats

.externalNativeBuild
.externalNativeBuild/
.cxx
.cxx/

.DS_Store
*.DS_Store